@font-face {font-family: "metropolis";
  src: url("./font/metropolis.regular.otf") format('truetype');
      
}

@font-face {font-family: "metropolisBold";
  src: url("./font/metropolis.bold.otf") format('truetype');
      
}

@font-face {font-family: "codec";
  src: url("./font/codec.cold-trial-bold.ttf") format('truetype');
      
}
.widjet{
  width: 40%;
  padding-left : 5rem;
}
.widjet_title{
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 5rem;
  text-align: unset;
  color: #c32530;
  font-family: "metropolisBold";

}

.widjet_text{
  font-size: 1.2rem;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #ffffff;
  font-family: "Open Sans",sans-serif;
  line-height: 1.3;
}
.cards__item {
    display: flex;
    flex: 1;
    margin-top: 80px;
    border-radius: 10px;
    justify-content : center
  }
  .cards__item__titre{
      margin-bottom: 20px;
  }
.cards__item__reverse{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 80px;
    border-radius: 10px;
    
  }
  .cards__item__pic-wrap {
    position: relative;

    width: 100%;
    height: 500px;
   
    overflow: hidden;
  }


  .cards__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 500px;
    
    height:500px;
 
    object-fit: cover;
    transition: all 0.2s linear;
  }
  
  
  
  .cards__item__info {
    padding: 20px 30px 30px;
    width: 100%;
  }
  
  .cards__item__text {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
  }